
* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: flex-end;
}

.navbar ul li {
  margin: 15px;
  list-style: none;
}
.navbar ul li a {
 display: flex;
 align-items: flex-end;
}

.cart {
  height: 30px;
}

a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  
}