
* {
  font-family: 'Montserrat', sans-serif;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(66, 66, 66);
}

#basic-nav-dropdown {
 margin-left: 0px;
}

.top-image {
  width: 100%;
}

.cart {
  height: 30px;
}