
* {
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(66, 66, 66);
}

#basic-nav-dropdown {
 margin-left: 0px;
 padding-top: 0px;
}

.dropdown-item {
  padding:0px;
}

.dropdown-menu .active {
 background-color: transparent;
 color:green;
}

.top-image {
  width: 100%;
}

.cart {
  height: 30px;
}

.cart-button {
  display: flex;
}

.cart-units {
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  color: white;
}