.btn {
  background-color: green;
  color:white;
  padding: 5px;
  border: none;
  border-radius: 5px; 
  font-size: 13px;
}

.card .btn:hover {
  background-color: greenyellow; 
}

.card .btn:disabled {
  background-color: lightslategrey;
}

.units {
  display: flex;
  align-items: center;
  justify-content: center;
}

.units button {
  margin: 20px;
}

.fin-stock {
  font-size: 10px;
}