.btn {
  background-color: green;
  color:white;
  padding: 5px;
  border: none;
  border-radius: 5px; 
  font-size: 13px;
}

.card .btn:hover {
  background-color: greenyellow; 
}

.card .btn:disabled {
  background-color: lightslategrey;
}

.units {
  display: flex;
  align-items: center;
  justify-content: center;
}

.units button {
  margin: 20px;
}

.fin-stock {
  font-size: 10px;
  margin-bottom: 7px;
}

.product-added {
  display:flex;
  margin-top: 50px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  height: 50px;
  color:rgb(0, 121, 16);
}

.out-stock {
  font-size: 13px;
  color: gray;
  border-radius: 10px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding:10px;
  margin: 65px 5px 5px 5px;
}