.card {
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 18rem;
  margin: 10px;
  border: none;
  border-radius: 20px; }

  .card .card-body {
    text-align: center;
    margin-bottom: 0px; }

  .card .btn {
    background-color: green;
    color:white;
    padding: 5px;
    border: none;
    border-radius: 5px; }

  .card .btn:hover {
    background-color: greenyellow; 
  }

  .card .btn:disabled {
    background-color: lightslategrey;
  }

.card-img-top {
  width: 200px;
  height: 200px;
}

.units {
  display: flex;
  align-items: center;
  justify-content: center;
}

.units button {
  margin: 20px;
}
